@font-face {
  font-family: "progress-font";
  src: url("../progress-font/ProgressPersonalUse-EaJdz.ttf");
}

body {
  flex-direction: column;
  background-color: rgb(62, 196, 240);
  margin: 0;
  display: flex;
}
.header {
  background: rgb(142, 136, 209);
  text-align: center;
  padding: 20px;
  position: sticky;
  top: 0px;
  border: 2px solid;
}
.h1 {
  color: rgb(4, 7, 7);
  text-align: center;
  position: flex;
  justify-content: center;
  margin: 0;
}
section {
  text-align: center;
  border: solid;
  border-color: rgb(3, 2, 2);
  border-style: dashed;
  border: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  margin: 20px;
}
button {
  text-align: center;
  top: 50px;
  border-color: rgb(244, 243, 243);
  background-color: rgb(60, 157, 68);
}
footer {
  background: rgb(142, 136, 209);
  text-align: center;
  padding: 5px;
  position: sticky;
  bottom: 0px;
  border: 2px solid;
}
