/* rye-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rye";
  font-style: normal;
  font-weight: 400;
  src: url("../Fonts/rye-v13-latin/rye-v13-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../Fonts/rye-v13-latin/rye-v13-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../Fonts/rye-v13-latin/rye-v13-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../Fonts/rye-v13-latin/rye-v13-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../Fonts/rye-v13-latin/rye-v13-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../Fonts/rye-v13-latin/rye-v13-latin-regular.svg#Rye") format("svg"); /* Legacy iOS */
}

/* Hier beginnt der body */
body {
  flex-direction: column;
  background-color: rgb(62, 196, 240);
  margin: 0;
  display: flex;
  font-family: "Rye";
  color: rgb(9, 24, 43);
}

.header {
  background: rgb(142, 136, 209);
  text-align: center;
  padding: 20px;
  position: sticky;
  top: 0px;
  border: 5px solid;
  border-radius: 0 0 50px 50px;
  border-color: rgb(109, 10, 146);
  margin: 0px;
  z-index: 1;
}

.h1 {
  color: rgb(141, 7, 243);
  text-align: center;
  position: flex;
  justify-content: center;
  margin: 0;
}

section {
  text-align: center;
  border: solid;
  border-color: rgb(3, 2, 2);
  border-style: dashed;
  border: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  margin: 50px;
  position: relative;
}

.card-bookmark {
  position: absolute;
  right: 10px;
  top: -25px;
}

button {
  text-align: center;
  top: 50px;
  border-color: rgb(244, 243, 243);
  background-color: rgb(182, 108, 186);
}

footer {
  background: rgb(142, 136, 209);
  position: fixed;
  bottom: 0px;
  border: 5px solid;
  border-radius: 50px 50px 0 0;
  border-color: rgb(109, 10, 146);
  width: 100%;
  box-sizing: border-box;
}
.nav-list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}